.profile__image-container {
  position: relative;
}

.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
}

.profile__image-container:hover > .profile__image {
  opacity: 0.8;
}

.profile__image-container:hover > .profile__image-edit {
  visibility: visible;
}

.profile__image-edit {
  position: absolute;
  background: transparent url('../../../images/big-add-icon.svg') center no-repeat;
  top: 50px;
  left: 50px;
  width: 26px;
  height: 26px;
  z-index: 20;
  visibility: hidden;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
